
:root {
    --hero-title-btn: #FFFFFF;
   --slog-img-teamsubtitls: #2E2F42;

}


body {
font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
margin: 0;
padding-left: 0;
}

button {
    cursor: pointer;
}

image {
    display: block;
}

.list {
list-style: none;
}

.link {
text-decoration: none;
}






----------HEADER--------------

.header {
position: absolute;
width: 1158px;
height: 72px;
left: 0px;
top: 0px;

background: #FFFFFF;
}


.header-logo {
font-family: 'Raleway' sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;

padding-top: 24px;
padding-bottom: 24px;

margin-right: 76px;
}

.header-list {
    display: flex;
    gap: 40px;
    }



.header-item {

 }

 .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
    display: flex;
    
}

.div-container {
    display: flex;
    align-items: center; 
}

.address-container {

    display: flex;
    align-items: center;
    gap: 40px;
   
    
}

.header-navigation {
display: flex;
align-items: center;
margin-right: auto;

}

.header-link {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
line-height: 1.5;

letter-spacing: 0.02em;
color: #2E2F42;
}



.address {
    display: flex;
   
  
}
.address-list  {
   
    
    
 
}
.address-item  {
    

}



.header-link:hover {
color: #4D5AE5;
} 

.header-link:focus {
color: #4D5AE5;
} 

.link:hover {
color: #4D5AE5;
} 

.link:focus {
color: #4D5AE5;
} 



.address-mail {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.address-call {
    
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}




----------------HERO------------------

.hero {




}

.hero-title {
   
background: #2E2F42;
 
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;


color: var(--hero-title-btn);

display: block;


margin-bottom: 48px;

}

.container-hero {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
letter-spacing: 0.02em;
background: #2E2F42;
padding-top: 188px;
padding-bottom: 188px;
 
}


.hero-btn {
min-width: 169px;
height: 56px;
margin-left: 480px;
margin-right: 635px;


background: #4D5AE5;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.18;

cursor: pointer;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: var(--hero-title-btn);

border-radius: 4px;
display: block;
}

------------------SLOGAN-------------

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .subject {
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.container-slogan {
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
outline: 2px solid red;
width: 1158px;

}

  .slogan-list {
    display: flex;
    gap: 24px;
    }
.slogan-item {
    
   
}
.slogan-subtitle {

font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--slog-img-teamsubtitls);
display: flex;
margin-bottom: 8px;

}

.slogan-desc {
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

display: flex;




flex-grow: 0;

}

---------------IMAGES------------

.suppic{

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
     
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--slog-img-teamsubtitls)
}

.images {

   
   
   
   
   padding-bottom: 120px;
}

.images-subtitle {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
     
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--slog-img-teamsubtitls);

    margin-bottom: 72px;
}

.container-images {
    
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
padding-right: 15px;
padding-left: 15px;

    




}

.images-electronics  {
    display: flex;
    gap: 24px;
}

------------------TEAM----------
    
.suppic {

font-weight: 700;
font-size: 36px;
line-height: 1.11;
     
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--slog-img-teamsubtitls)
}

.team {
    
   
  
   
}

.container-team {
    
    padding-left: 15px;
    padding-right: 15px; 
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    
    outline: 2px solid red;
    background: #F4F4FD;  
padding-top: 120px;
padding-bottom: 120px;
}

.team-subtitle {
  
font-weight: 700;
font-size: 36px;
line-height: 1.11;
    
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--slog-img-teamsubtitls);


margin-bottom: 72px;

/*padding-top: 120px;
padding-right: 638px;
padding-bottom: 72px;
padding-left: 638px;*/


}

.div-name {

    padding-top: 32px;
    padding-bottom: 32px;
}

.team-staff {
display: flex;
justify-content: center;
align-items: center;
gap: 24px;

}



.images-staff {
 
}
.name-staff {

font-weight: 600;
font-size: 20px;
line-height: 1.2;
    
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42; 
 margin-bottom: 8px;
}

.profession-staff {

line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}

------------FOOTER------------

 .footer {
    
 
   background: #2E2F42;
   }


.container-footer {
    background: #2E2F42;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
    padding-top: 100px;
    padding-bottom: 100px;
    
 }

.footer-link {

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
text-decoration: none;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;

margin-bottom: 16px;
}

.footer-desc {
    
background: #2E2F42;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;

width: 264px;

padding-left: 156px;


}

.footer-link {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;

text-decoration: none;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
padding-left: 156px;
}









----------------PAGE2 PORTFOLIO------------

.menu-button {



justify-content: center;
align-items: center; 


}

.button-list {
   
    display: flex;
    gap: 24px;
    padding: 0px;
  top: 168px;
    bottom: 72px;
    justify-content: center;
    
    outline: 2px solid red;
    
    }


.container-button {
    width: 1158px;    
    outline: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
}


.button-item {
justify-content: center;
align-items: center;

}


.option-btn {
cursor: pointer;
font-weight: 500;
line-height: 1.5;

align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;

flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;

background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
flex: none;
 
font-style: normal;
font-size: 16px;
gap: 24px;
justify-content: center;


}


    

    ----------------IMAGESPORTF-------------

/*.contimgport {
    
    outline: 2px solid red;
    display: flex;
    position: center;
    width: 1128px;
    height: 420px;
    } */

 
    

.suppic-portfolio {
font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.images-suptitle-portfolio {

font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;

margin-bottom: 8px;
}

.images-subtitle-portfolio {
        
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;


    }

    .image-portfolio {
        

    }



    .desc-img-portf {
        padding-top: 32px;
        padding-bottom: 48px;
    }

    .images-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }
   
    .images-items {
        width: calc((100% - 48px) / 3);
       
     
     }
   
         
------------------LOGOCOLOR---------

.studio-footer {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
 }


.text-web {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;

align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;

}

 .header-studio {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;

align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
} 



    



/*.container-img-one {
    display: flex;
    justify-content: space-between;
   gap: 24px;
   margin-bottom: 48px;
   margin-top: 72px;
   margin-right: 156px;
   margin-left: 156px;
   outline: 2px solid red;
    }
.container-img-two {
    
    
    display: flex;
    justify-content: space-between;
   gap: 24px;
   margin-bottom: 48px;
   margin-right: 156px;
   margin-left: 156px;
   outline: 2px solid red;
    }

.container-img-three {
    display: flex;
    justify-content: space-between;
   gap: 24px;
   margin-bottom: 120px;
   margin-top: 48px;
   margin-right: 156px;
   margin-left: 156px;
   outline: 2px solid red;
}*/

    

